* {
  padding: 0;
  margin: 0;
}

.header_grid {
	height: 100% ; 
	width: 100% ;
	display: flex ;
	padding-bottom: 5px;
	justify-content: center;
	align-items: center;
}

.filter_list_icon_grid {
	display: flex;
	justify-content: start; 
	align-items: center;
}

.header_image_grid {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.search_icon_grid {
	display: flex;
	justify-content: end; 
	align-items: center;
}

.searchbox_grid {
	display: flex;
	justify-content: center; 
}

.body_container_grid {
	margin-top: 3px;
}

.results_grid {
	padding-right: 30px;
}

.pagination_grid {
	justify-content: center;
}

.collapsable_filter_button_grid {
	padding: 8px;
}

.collapsable_filter_button_text {
	display: flex;
	justify-content: center; 
	align-items: center
}

.collapsable_filter_button_search_icon_grid {
	display: flex;
	justify-content: center; 
	align-items: center
}

.footer_grid {
	height: 100%;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.footer_section_grid {
	display: flex;
	justify-content: center; 
    align-items: center; 
    padding: 20px 
}

.footer_image_grid {
	display: flex;
	justify-content: center; 
	align-items: center; 
}

.footer_item_grid {
	display: flex;
	align-items: center; 
	padding: 10px; 
}

.result_title {
	text-decoration: none;
}

.result_title:hover {
	text-decoration: underline;
}

.searchbar_form_control {
	width: 40ch;
}

.delete_filter_icon_grid {
	display: flex;
	justify-content: center; 
	align-items: center;
}

.filter_count_text {
	display: flex;
	justify-content: center; 
	align-items: center;
}